AtomPair CA 1 CA 2 GAUSSIANFUNC 3.83519 1.0
AtomPair CA 1 CA 3 GAUSSIANFUNC 6.91223 1.0
AtomPair CA 1 CA 4 GAUSSIANFUNC 10.1876 1.0
AtomPair CA 1 CA 5 GAUSSIANFUNC 13.3243 1.0
AtomPair CA 1 CA 6 GAUSSIANFUNC 16.0274 1.0
AtomPair CA 1 CA 7 GAUSSIANFUNC 18.5654 1.0
AtomPair CA 1 CA 8 GAUSSIANFUNC 22.0282 1.0
AtomPair CA 1 CA 9 GAUSSIANFUNC 21.2639 1.0
AtomPair CA 1 CA 10 GAUSSIANFUNC 23.4748 1.0
AtomPair CA 1 CA 11 GAUSSIANFUNC 22.8256 1.0
AtomPair CA 1 CA 12 GAUSSIANFUNC 22.0566 1.0
AtomPair CA 1 CA 13 GAUSSIANFUNC 19.822 1.0
AtomPair CA 1 CA 14 GAUSSIANFUNC 16.8578 1.0
AtomPair CA 1 CA 15 GAUSSIANFUNC 17.0366 1.0
AtomPair CA 1 CA 16 GAUSSIANFUNC 17.5165 1.0
AtomPair CA 1 CA 17 GAUSSIANFUNC 14.5647 1.0
AtomPair CA 1 CA 18 GAUSSIANFUNC 12.3891 1.0
AtomPair CA 1 CA 19 GAUSSIANFUNC 14.3189 1.0
AtomPair CA 1 CA 20 GAUSSIANFUNC 14.1159 1.0
AtomPair CA 1 CA 21 GAUSSIANFUNC 10.3426 1.0
AtomPair CA 1 CA 22 GAUSSIANFUNC 10.6406 1.0
AtomPair CA 1 CA 23 GAUSSIANFUNC 13.7211 1.0
AtomPair CA 1 CA 24 GAUSSIANFUNC 12.1816 1.0
AtomPair CA 1 CA 25 GAUSSIANFUNC 9.87662 1.0
AtomPair CA 1 CA 26 GAUSSIANFUNC 13.2104 1.0
AtomPair CA 1 CA 27 GAUSSIANFUNC 14.6661 1.0
AtomPair CA 1 CA 28 GAUSSIANFUNC 11.9047 1.0
AtomPair CA 1 CA 29 GAUSSIANFUNC 9.79765 1.0
AtomPair CA 1 CA 30 GAUSSIANFUNC 6.27613 1.0
AtomPair CA 1 CA 31 GAUSSIANFUNC 5.02607 1.0
AtomPair CA 1 CA 32 GAUSSIANFUNC 6.21879 1.0
AtomPair CA 1 CA 33 GAUSSIANFUNC 7.90692 1.0
AtomPair CA 1 CA 34 GAUSSIANFUNC 11.1118 1.0
AtomPair CA 1 CA 35 GAUSSIANFUNC 13.7861 1.0
AtomPair CA 1 CA 36 GAUSSIANFUNC 17.3045 1.0
AtomPair CA 1 CA 37 GAUSSIANFUNC 20.8053 1.0
AtomPair CA 1 CA 38 GAUSSIANFUNC 22.7822 1.0
AtomPair CA 1 CA 39 GAUSSIANFUNC 23.0102 1.0
AtomPair CA 1 CA 40 GAUSSIANFUNC 23.8961 1.0
AtomPair CA 1 CA 41 GAUSSIANFUNC 20.558 1.0
AtomPair CA 1 CA 42 GAUSSIANFUNC 18.8653 1.0
AtomPair CA 1 CA 43 GAUSSIANFUNC 21.3716 1.0
AtomPair CA 1 CA 44 GAUSSIANFUNC 20.8025 1.0
AtomPair CA 1 CA 45 GAUSSIANFUNC 17.0407 1.0
AtomPair CA 1 CA 46 GAUSSIANFUNC 17.9428 1.0
AtomPair CA 1 CA 47 GAUSSIANFUNC 20.7851 1.0
AtomPair CA 1 CA 48 GAUSSIANFUNC 18.6594 1.0
AtomPair CA 1 CA 49 GAUSSIANFUNC 16.1836 1.0
AtomPair CA 1 CA 50 GAUSSIANFUNC 19.2946 1.0
AtomPair CA 1 CA 51 GAUSSIANFUNC 20.8646 1.0
AtomPair CA 1 CA 52 GAUSSIANFUNC 18.2046 1.0
AtomPair CA 1 CA 53 GAUSSIANFUNC 18.3666 1.0
AtomPair CA 1 CA 54 GAUSSIANFUNC 14.968 1.0
AtomPair CA 1 CA 55 GAUSSIANFUNC 14.7687 1.0
AtomPair CA 1 CA 56 GAUSSIANFUNC 13.9254 1.0
AtomPair CA 1 CA 57 GAUSSIANFUNC 15.0074 1.0
AtomPair CA 1 CA 58 GAUSSIANFUNC 15.8095 1.0
AtomPair CA 1 CA 59 GAUSSIANFUNC 17.0527 1.0
AtomPair CA 1 CA 60 GAUSSIANFUNC 19.6317 1.0
AtomPair CA 1 CA 61 GAUSSIANFUNC 19.2139 1.0
AtomPair CA 1 CA 62 GAUSSIANFUNC 21.7645 1.0
AtomPair CA 1 CA 63 GAUSSIANFUNC 23.4829 1.0
AtomPair CA 1 CA 64 GAUSSIANFUNC 22.7214 1.0
AtomPair CA 1 CA 65 GAUSSIANFUNC 18.9443 1.0
AtomPair CA 1 CA 66 GAUSSIANFUNC 17.4822 1.0
AtomPair CA 1 CA 67 GAUSSIANFUNC 13.8009 1.0
AtomPair CA 1 CA 68 GAUSSIANFUNC 13.053 1.0
AtomPair CA 1 CA 69 GAUSSIANFUNC 10.1088 1.0
AtomPair CA 1 CA 70 GAUSSIANFUNC 10.1342 1.0
AtomPair CA 1 CA 71 GAUSSIANFUNC 9.50927 1.0
AtomPair CA 1 CA 72 GAUSSIANFUNC 10.6385 1.0
AtomPair CA 1 CA 73 GAUSSIANFUNC 10.415 1.0
